<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Gün</th>
                <th>En Yüksek</th>
                <th>En Düşük</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <% parse.forEach(function(par){ %>
                <tr>
                    <td>
                        <%= par.gun_adi %>
                    </td>
                    <td>
                        <%= par.derece_yuksek %>
                    </td>
                    <td>
                        <%= par.derece_alcak %>
                    </td>
                    <td>
                        <%= par.aciklama %>
                    </td>

                </tr>
                <% }); %>
        </tbody>
    </table>
</body>

</html>